<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552632887204-t1eg3bekgsa3pvns29mmd9lsim6joj8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552632887204-t1eg3bekgsa3pvns29mmd9lsim6joj8h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>552632887204-64isfgvsgbk9k755tf9flch46f67qnvr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOR7hBhKhfH0hgsOTIehCbeJTaCEEUNTg</string>
	<key>GCM_SENDER_ID</key>
	<string>552632887204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juniorise.spooky.dev</string>
	<key>PROJECT_ID</key>
	<string>my-notes-ssoad</string>
	<key>STORAGE_BUCKET</key>
	<string>my-notes-ssoad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552632887204:ios:535e7085a0e095c8150331</string>
</dict>
</plist>